{% extends 'store/main.html' %}
{% load static %}
{% block title %}Про нас{% endblock %}
{% block content %}
    <section class="section container">
        <h3 class="section-title">💚 Наша Історія та Місія GardenCol</h3>
        <p>GardenCol був заснований у 2015 році з простою ідеєю: зробити якісне садівництво доступним для кожного українця. Ми віримо, що зелень і природа можуть покращити життя, незалежно від того, чи маєте ви великий сад, чи лише підвіконня. Наша команда прагне надати не лише рослини, а й знання, необхідні для їхнього процвітання.</p>
        <div class="row mt-5">
            <div class="col-md-4">
                <h4>Екологічність</h4>
                <p>Ми використовуємо лише натуральні добрива та методи вирощування, мінімізуючи вплив на навколишнє середовище.</p>
            </div>
            <div class="col-md-4">
                <h4>Експертиза</h4>
                <p>Наша команда — це дипломовані агрономи, готові надати консультацію та відповісти на будь-яке ваше запитання.</p>
            </div>
            <div class="col-md-4">
                <h4>Якість</h4>
                <p>Гарантуємо приживлюваність кожного саджанця завдяки суворому контролю якості на всіх етапах вирощування.</p>
            </div>
        </div>


[Image of a garden with healthy plants]

    </section>
{% endblock content %}