{% extends 'store/main.html' %}
{% load static %}
{% block title %}Блог та Поради{% endblock %}
{% block content %}
    <section class="section container">
        <h3 class="section-title">📰 Корисні Поради та Статті від GardenCol</h3>
        <div class="row">
            <div class="col-md-6 mb-4">
                <h4>10 правил догляду за трояндами</h4>
                <p>Детальний посібник для новачків. Дізнайтеся, як обрізати, поливати та захищати ваші троянди від хвороб.</p>
                <a href="#" class="btn btn-sm btn-outline-success">Читати</a>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Як правильно вибрати ґрунт?</h4>
                <p>Поради, які допоможуть вашим рослинам процвітати. Все про pH, дренаж та поживні речовини.</p>
                <a href="#" class="btn btn-sm btn-outline-success">Читати</a>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Догляд за кімнатними рослинами взимку</h4>
                <p>Як врятувати ваші фікуси та сукуленти від сухого повітря та нестачі світла.</p>
                <a href="#" class="btn btn-sm btn-outline-success">Читати</a>
            </div>
        </div>
        <p class="alert alert-info mt-5" style="text-align: center;">Це місце для наших майбутніх публікацій!.</p>
    </section>
{% endblock content %}